0 1 * * * /bin/bash -l -c cd /src/app && bin/rails runner -e production BotSyncWorker.new.perform
0 1 * * * /bin/bash -l -c cd /src/app && bin/rails runner -e production DeveloperRecordSyncWorker.new.perform
